body {
  margin: 0;
  padding: 0;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.nav-link {
  font-size: 1.1rem;
  padding: 10px;
}

.nav-link.active {
  background-color: #007bff;
  color: white;
}

a.text-danger {
  font-size: 1.1rem;
}

.nav-link.active {
  background-color: #007bff;
  color: white;
}

.sidebar {
  width: 280px; /* Fija el ancho del sidebar */
  height: 100vh; /* Hace que el sidebar ocupe toda la altura de la pantalla */
  background-color: #f8f9fa; /* Color de fondo del sidebar */
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
}

.content {
  margin-left: 280px; /* Deja espacio para el sidebar */
}

a {
  color: inherit; /* Adapta el color al del texto padre */
  text-decoration: none; /* Opcional: elimina el subrayado */
}
